*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h4{
  height:50px ;
  background-color: rgb(16, 78, 78);
  color: white;
  padding: 10px;
}
h3{
  margin: 5px 20px;
}
.listtable{
  margin: 5px 20px;
  width: 80%;
}
.listtable td {
  border: 1px solid black;
  padding: 10px 5px;
 
}
.listtable th {
  border: 1px solid black;

  padding: 10px 5px;
  background-color:rgb(235, 229, 229); 
}
.navbtns{
  direction: rtl;
  margin-right: 220px;
}
.tabledetails{
  margin: 5px 20px;
  width: 50%;
}
.tabledetails th{
  border: 1px solid black;
  padding: 10px 40px;
}
.tabledetails td{
  border: 1px solid black;
  padding: 10px 10px;
}
.spanbold{
  font-size: 20px;
  font-weight: bold;
}
.btnback{
  margin: 10px 30px;
}
.align{
  text-align: right;
}